@use 'helpers' as *;

body {
	@include fluid-text(14, 14);

	font-family: var(--font-family-base);
	color: var(--color-base);
}

.section {
	&__title {
		padding-bottom: fluid(30, 24);
	}
}

button {
	border: none;
	padding: 0;
	margin: 0;
}